<div class="sidebar">
  <div class="container">
  
	<div class="picture">
		<img src="{{ site.baseurl }}public/images/sidebar-picture.png">
	</div>
  
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
	  <a class="sidebar-nav-item" href="{{ site.baseurl }}about/">About Me</a>
	  <a class="sidebar-nav-item" href="{{ site.baseurl }}articles/">Articles</a>
	  <a class="sidebar-nav-item" href="{{ site.baseurl }}games/">Games</a>
    </nav>
	
  </div>
  <div class="container sidebar-sticky copyright">
		<a href="http://www.linkedin.com/in/fredericozveiter" target="_blank"><img src="{{ site.baseurl }}public/images/sidebar/linkedin-icon.png" title="Visit my LinkedIn profile." /></a>
		<a href="{{ site.baseurl }}public/resume-frederico-zveiter.pdf" target="_blank"><img src="{{ site.baseurl }}public/images/sidebar/resume-icon.png" title="Download my resume." /></a>
		<a href="mailto:frederico.zveiter@gmail.com" target="_blank"><img src="{{ site.baseurl }}public/images/sidebar/mail-icon.png" title="Send me an e-mail." /></a>
		<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
